body {
  background-color: #94b8b8;
}

.win,
.lose {
  display: none;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}

.subheading {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 30px;
  margin-top: 3px;

}

h1 {

  position: relative;
  color: #192947;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;

}

h1::before {
  content: " ";
  background-color: #ff6666;
  border-radius: 200px 0px 0px 200px;
  display: inline-block;
  width: 28px;
  height: 30px;
  position: absolute;
  margin-left: -40px;
  margin-top: 10px;
}

h1::after {
  content: " ";
  background-color: #ff6666;
  border-radius: 0px 200px 200px 0px;
  display: inline-block;
  width: 28px;
  height: 30px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (80px 80px 150px);
  grid-gap: 1em;
}

.guessWord {
  grid-column: 2;
  padding-bottom: 5px;
}

input {
  margin-top: 25px;
  margin-left: 30px;
  font-size: 20px;
  height: 50px;
  width: 140px;
  border-color: #140a68;
  align-content: center;
  padding-left: 15px;
}

.hangout-man {
  grid-column: 1;
  grid-row: 3;
  background-color: #94b8b8;
  color: #ff6666;
}

.beurt1 {
  display: none;
  transform: translateX(-500px);
  transition-property: all;
  animation-name: hidehangman;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt1Active {
  display: block;
  transform: translateX(150px);
  transition-property: all;
  animation-name: hang;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt2 {
  display: none;
  transform: translateX(-500px);
  transition-property: all;
  animation-name: hidehangman;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt2Active {
  display: block;
  transform: translateX(150px);
  transition-property: all;
  animation-name: hang;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt3 {
  display: none;
  transform: translateX(-500px);
  transition-property: all;
  animation-name: hidehangman;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt3Active {
  display: block;
  transform: translateX(150px);
  transition-property: all;
  animation-name: hang;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt4 {
  display: none;
  transform: translateX(-500px);
  transition-property: all;
  animation-name: hidehangman;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt4Active {
  display: block;
  transform: translateX(150px);
  transition-property: all;
  animation-name: hang;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt5 {
  display: none;
  transform: translateX(-500px);
  transition-property: all;
  animation-name: hidehangman;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

.beurt5Active {
  display: inline-block;
  transform: translateX(0);
  transition-property: all;
  animation-name: hang;
  transition-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes hang {
  from {
    transform: translateX(-500px)
  }

  to {
    transform: translateX(150px)
  }

  ;

}

@keyframes hidehangman {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-500px)
  }

  ;

}

.displayWord {
  grid-column: 1;
  margin-left: 200px;
  padding-bottom: 5px;
  font-family: 'Oswald';
}

.displayWord h2,
.win h2,
.lose h2 {
  color: #192947;
  font-family: 'Oswald';
  font-weight: 200;
}

.the_word {
  font-weight: 200;
  font-size: 2em;
}

.diplayLives {
  grid-column: 1;
  grid-row: 2;
  font-weight: 200;

}

.lives {
  margin-left: 200px;
  font-family: 'Oswald';
  color: #192947;
  font-weight: 200;
  font-size: 1.5em;
}

.incorrectly {
  grid-column: 2;
  grid-row: 2;
  font-family: 'Oswald';
}

.incorrectly h2 {
  margin-left: 30px;
  color: #192947;
  font-family: 'Oswald';
  font-weight: 200;
}

.guessed_letters {
  margin-left: 30px;
  font-weight: 200;
  font-size: 2em;
  color: #ff6666;
}

.win {
  margin-left: 50px;
  grid-column: 2;
  grid-row: 3;
}

.lose {
  position: relative;
  margin-left: 50px;
  grid-column: 2;
  grid-row: 3;
  z-index: 3;
}

.lostWord {
  color: #192947;
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 1em;
}

.guess {
  box-shadow: 3px 4px 0px 0px #192947;
  background: linear-gradient(to bottom, #192947 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 17px;
  border: 1px solid #4e6096;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-top: 15px;
  margin-left: 30px;
}

.guess:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #192947 100%);
  background-color: #476e9e;
}

/* .guess:active {
  position: relative;
  top: 1px;
} */

.remainingLives {
  font-size: 40px;
  color: #fff;
}

.restart {
  margin-left: 200px;
  margin-top: 20px;
}

.restartButton {

  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f5cbc8 100%);
  background-color: #c62d1f;
  border-radius: 17px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.restartButton:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.restart:active {
  position: relative;
  top: 1px;
}

.the_word {
  color: #ff6666;
}